<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eVR.ReadVehicleLicenseCardDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CardAccessDelay" value="50"/>
    <add key="ATRCheck" value="true" />
    <add key="CardManagerDisabledCheck" value="true" />
    <add key="CRLCheckEnabled" value="false" />
    <add key="CSCAFileDir" value="directory with cert" />
    <add key="TranslationsFile" value="translations.txt" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <eVR.ReadVehicleLicenseCardDemo.Properties.Settings>
      <setting name="ErrorMessage" serializeAs="String">
        <value>Something is wrong with the card. Please contact RDW!</value>
      </setting>
    </eVR.ReadVehicleLicenseCardDemo.Properties.Settings>
  </applicationSettings>
</configuration>
